*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: cursive;
  text-decoration: none;
}

.navbar{
  background-color: rgb(34, 34, 92);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
}

.topnav a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-left: 30px;

}

ul li{
  list-style: none;
  display: inline-block;
}

ul li a{
  color: #fff;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: bold;
}

ul button{
  border: 2px solid rgb(170, 89, 89);
  height: 30px;
  background-color: rgb(110, 120, 194);
  border-radius: 5px;
  margin: 8px 30px 0px 0px;

}

ul button a{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

ul button a:hover{
  background-color: rgb(173, 141, 141);
  color: #000;
}

@media (max-width:601px) {
  ul{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }
  
  ul li{
    padding-left: 30px;
  }
}

.movie{
  background-color: rgb(181, 170, 170);
  color: black;
  margin-top: 10px;
  width: 13%;
  border: 2px solid rgb(156, 117, 83);
  padding: 5px;
  text-align: start;
  font-weight: bolder;
}

a:hover{
  background-color: rgb(173, 141, 141);
  color: black;
  border-radius: 5px;
}

.movie img{
  height: 300px;
  width: 100%;
}

.movie:hover{
  background-color: grey;
}

@media (max-width: 935px) {
  .main{
    
  }
  
}
@media (max-width:375px) {
  .main{
    flex-direction: column;
  }
  
}